body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
}

.header,
.footer {
    background-color: #1F2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;

}

a {
    text-decoration: none;
}

a,
.header-left .body,
.footer {
    color: #E5E7EB;
}

a,
.header-left .body, 
.picture-wrapper .info .text,
.call-to-action-wrapper .left .subtext {
    font-size: 18px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 48px;
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.header-bottom img {
    display: flex;
    flex: 1 1 auto;
    width: 48%;
}
.header-left .title {
    font-size: 48px;
    font-weight: bolder;
}

.header-logo,
.header-left .title {
    color: #E5E7EB;
}

.signup {
    width: 120px;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.information-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-content: center;
    padding: 30px 15% 30px 15%;
}

.information-wrapper .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.picture-wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 40px;
}

.picture-wrapper .info {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.picture-wrapper .info img {
    width: 125px;
    display: flex;
    flex: 1 1 auto;
    border-style: solid;
    border-color: #3882F6;
}

.quote-wrapper {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20% 40px 20%;
}
.quote-wrapper .quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-wrapper .speaker {
    text-align: right;
    align-self: flex-end;
    font-weight: bold;
    padding-right: 30px;
}

.call-to-action-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    margin: 40px 15% 40px 15%;
    padding: 40px 8% 40px 8%;
}

.call-to-action-wrapper .left .title {
    font-weight: bold;
    font-size: 21px;
}

.call-to-action-wrapper .signup {
    border-color: white;
    border: solid;
    border-width: 4px;
}

.footer {
    text-align: center;
    padding: 40px 40px;
}